.nav__category {
    display: flex;
    justify-content: space-around;
    margin: 24px 40px;
    li {
        list-style: none;
        a {
            text-decoration: none;
            &:hover {
                color: red;
            }
        }
        
    }
}
button + button {
    margin-left: 12px;
}
button {
    border-radius: 4px ;
    border: none;
    padding: 8px;
    &:hover {
        background-color: #999;
    }
}
.card {
    padding: 40px 100px;
}
.form-group {
    margin: 16px 0;
}
.form__option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 0;
    input {
        outline: none;
        border: 0.5px solid rgb(210, 210, 210);
        border-radius: 6px;
        padding: 4px 8px;
    }
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }